<h1>Products</h1>
<% if current_user %>
<p><%= link_to "My Profile", user_path(current_user)%> | <%= link_to "Create New Product", new_product_path(@new) %></p>
<% end %>


<% @products.each do |p| %>
	<p><li><%= p.name %> - $<%= p.formatted_price %></li></p>
	<p><%= link_to "See More", product_path(p) %></p>
<% end %>

</hr>

<ul>
	<%= @products.each do |product| %>
		<%= link_to product_path(product.id) do %>
			<h2>		
				<%= product.formatted_price %>
				<%= product.name %>
			</h2>
			<% end %>
				<!--keeps the description to 100 characters or less -->
				<p><%= truncate(product.description, length: 100) %></p>
		<% end %>
</ul>

<!-- outputs several pagination links such as <<First  <Prev Next > Last>> -->
<%= paginate @products %>

