<h1>Products</h1>
<p><%= link_to "Edit this product", edit_product_path(@product) %> | <%= link_to "Delete this product", products_path, :confirm => "Are you sure you want to delete this product?",
	:method => :delete %></p>

<p><b><%= @product.name %></b></p> <p><%= @product.description %></p> <p>Price: $<%= @product.formatted_price %></p>

<% if current_user %>

	
	<h3>Reviews for <%= @product.name %>:</h3>

	<% @product.reviews.each do |review| %>
		
			<p style="color:white"><%= review.comment %></p>
			<br>
			<% if review.user != nil %>
				<em> by <%= review.user.email %></em>
				Added on: <%= review.created_at %>
			<% end %>
		
	<% end %>


<h4>New Review</h4>

<%= form_for([@product, @review]) do |f| %>
	<% if @review.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:
			</h2>

			<ul>
				<% @review.errors.full_messages.each do  |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
	<%= f.label :comment %><br />
	<%= f.text_area :comment %>
	</div>
	<div class="actions">
	<%= f.submit %>
	</div>
	<% end %>

<% else %>
	<p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>

<p><%= link_to "Back to Home", products_url %></p>
